.testimony {
  grid-area: testimony;
  margin: 1rem 0;
}

.testimony::first-letter {
  text-transform: uppercase;
}

.testimony dt {
  display: inline;
}

.testimony dt::after {
  content: ': ';
}

.testimony dd {
  display: inline;
  margin: 0;
  padding: 0;
}

.testimony dd:not(:last-of-type)::after {
  content: ', ';
}
