.taleWrapper {
  grid-area: tale;
}

.taleItem {
  position: relative;
}

.taleItem + .taleItem {
  margin-top: 1rem;
}

.taleItem.producer {
  border-left: 1rem solid var(--color-producer);
  padding-left: 2rem;
}
