.select {
  display: block;
  width: 100%;
  position: relative;
}

.error {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: var(--color-danger) solid 0.2rem;
  padding: 0 2rem;
  position: relative;
}

.errorIcon {
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.loading {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--size-input-height) var(--size-input-height);
  }
}

.loading::after {
  content: '';
  background-image: linear-gradient(
    -45deg,
    var(--color-grey-5) 25%,
    var(--color-white) 25%,
    var(--color-white) 50%,
    var(--color-grey-5) 50%,
    var(--color-grey-5) 75%,
    var(--color-white) 75%,
    var(--color-white)
  );
  background-size: var(--size-input-height) var(--size-input-height);
  animation: move 2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
