.legend {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 4rem;
}

.legendItem {
  padding-left: 4rem;
  line-height: var(--size-input-height);
  opacity: 1;
  transition: opacity var(--transition-default);
  position: relative;
  cursor: pointer;
}

.legendItem::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-order);
  width: var(--size-input-height);
  height: var(--size-input-height);
  border-radius: 50%;
  border: 0.3rem solid var(--color-black);
  font-weight: var(--font-weight-medium);
  position: absolute;
  top: 0;
  left: 0;
}

.legendItem::after {
  content: ',';
}

.legend.highlighted .legendItem:not(.selected) {
  opacity: 0.1;
}

.topBrandsTimeline :global(.line-path-1) {
  stroke: var(--color-brand-1);
}

.topBrandsLegend1::before {
  border-color: var(--color-brand-1);
  color: var(--color-brand-1);
}

.topBrandsTimeline :global(.line-path-2) {
  stroke: var(--color-brand-2);
}

.topBrandsLegend2::before {
  border-color: var(--color-brand-2);
  color: var(--color-brand-2);
}

.topBrandsTimeline :global(.line-path-3) {
  stroke: var(--color-brand-3);
}

.topBrandsLegend3::before {
  border-color: var(--color-brand-3);
  color: var(--color-brand-3);
}

.topBrandsTimeline :global(.line-path-4) {
  stroke: var(--color-brand-4);
}

.topBrandsLegend4::before {
  border-color: var(--color-brand-4);
  color: var(--color-brand-4);
}

.topBrandsTimeline :global(.line-path-5) {
  stroke: var(--color-brand-5);
}

.topBrandsLegend5::before {
  border-color: var(--color-brand-5);
  color: var(--color-brand-5);
}

.topBrandsTimeline :global(.line-path-6) {
  stroke: var(--color-brand-6);
}

.topBrandsLegend6::before {
  border-color: var(--color-brand-6);
  color: var(--color-brand-6);
}

.topBrandsTimeline :global(.line-path-7) {
  stroke: var(--color-brand-7);
}

.topBrandsLegend7::before {
  border-color: var(--color-brand-7);
  color: var(--color-brand-7);
}

.topBrandsTimeline :global(.line-path-8) {
  stroke: var(--color-brand-8);
}

.topBrandsLegend8::before {
  border-color: var(--color-brand-8);
  color: var(--color-brand-8);
}

.topBrandsTimeline :global(.line-path-9) {
  stroke: var(--color-brand-9);
}

.topBrandsLegend9::before {
  border-color: var(--color-brand-9);
  color: var(--color-brand-9);
}

.topBrandsTimeline :global(.line-path-10) {
  stroke: var(--color-brand-10);
}

.topBrandsLegend10::before {
  border-color: var(--color-brand-10);
  color: var(--color-brand-10);
}

@media (min-width: 700px) {
  .topBrandsTimeline {
    min-height: 370px;
  }
}

@media (min-width: 1000px) {
  .topBrandsTimeline {
    min-height: 600px;
  }
}
