.form header {
  margin: 1rem 0 2rem 0;
  border-top: 1px solid var(--color-black);
  padding-top: 2rem;
}

.form header h2 {
  margin: 0;
  font: var(--font-weight-regular) 2.2rem / 1 var(--font-primary);
}

.form header p {
  text-align: right;
  color: var(--color-grey-1);
}

.form h3 {
  margin-top: 2rem;
  font: var(--font-weight-regular) 1.6rem / 1 var(--font-primary);
  position: relative;
}

.form h3::after {
  display: block;
  height: 1px;
  width: 100%;
  content: '';
  background: var(--color-grey-3);
  position: absolute;
  top: 50%;
  z-index: -1;
}

.form h3 span {
  margin-left: 4rem;
  padding: 0 2rem;
  background: var(--color-white);
}

.form footer {
  grid-template-columns: 22rem 1fr;
  margin-top: 4rem;
  margin-left: 69rem;
}

.form footer,
.grid {
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.ingredientsCompleteWrapper {
  grid-column: 1 / 3;
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  grid-template-columns: repeat(2, 45rem) repeat(2, var(--size-input-height)) 1fr;
}

.grid.basic {
  grid-template-columns:
    repeat(2, 45rem) repeat(2, var(--size-input-height))
    1fr;
}

.grid.optional {
  grid-template-columns:
    calc(44rem - var(--size-input-height)) var(--size-input-height) 45rem repeat(
      2,
      var(--size-input-height)
    )
    1fr;
}

.grid.double {
  grid-template-columns:
    45rem repeat(2, 22rem) repeat(2, var(--size-input-height))
    1fr;
}

.grid.conditionalDouble {
  grid-template-columns:
    calc(44rem - var(--size-input-height)) var(--size-input-height)
    repeat(2, 22rem) 1fr;
}

.grid.conditionalThree {
  grid-template-columns: calc(44rem - var(--size-input-height)) var(
      --size-input-height
    ) repeat(3, 14.333rem) 1fr;
}

.grid.conditionalFour {
  grid-template-columns:
    calc(44rem - var(--size-input-height)) var(--size-input-height)
    repeat(4, 10.5rem) 1fr;
}
