.impressions {
  grid-area: impressions;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.impressions dl {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.impressions dt {
  flex-basis: 40%;
  padding-right: 0.7rem;
  text-align: right;
}

.impressions dt::first-letter {
  text-transform: uppercase;
}

.impressions dd {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.impressions dd::after {
  display: block;
  content: '';
}

.impressions progress {
  display: block;
  height: 0.3rem;
  width: 100%;
  border: 0;
  background-color: var(--color-grey-4);
}

.impressions progress + progress {
  margin-top: 0.2rem;
}

.impressions progress[value]::-webkit-progress-value,
.impressions progress[value]::-moz-progress-bar {
  background-color: var(--color-success-strong);
  border-radius: 2px;
}

.impressions progress.producer[value]::-webkit-progress-value,
.impressions progress.producer[value]::-moz-progress-bar {
  background-color: var(--color-producer-strong);
}

@media (min-width: 1024px) {
  .impressions dl {
    flex-basis: 50%;
  }
}
