.condition {
  display: inline-block;
  width: var(--size-input-height);
  height: var(--size-input-height);
  background-color: var(--color-grey-5);
  border-bottom: 1px solid var(--color-grey-2);
  position: relative;
  cursor: pointer;
}

.condition.on {
  background-color: var(--color-grey-4);
}

.condition svg {
  width: 2rem;
  position: absolute;
  top: 1rem;
  left: 0.8rem;
  pointer-events: none;
}

.condition svg path {
  fill: var(--color-black);
}
