.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

.logo h1 {
  display: flex;
}

.logo svg {
  width: 8rem;
}

.logo .h,
.logo .p {
  fill: var(--color-black);
  transition: fill var(--transition-default);
}

.logo:hover .h,
.logo:hover .p {
  fill: var(--color-white);
}

@keyframes smoothColor {
  0% {
    fill: var(--color-brand-5);
  }
  50% {
    fill: var(--color-brand-6);
  }
  100% {
    fill: var(--color-brand-5);
  }
}

.logo .o {
  fill: var(--color-brand-5);
  animation: smoothColor 15s infinite;
}

@media (min-width: 1600px) {
  .logo svg {
    width: 12rem;
  }
}
