.navigationSwitcher {
  grid-area: more;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationSwitcher svg {
  display: block;
  width: 2rem;
  height: 0.4rem;
}

.navigationSwitcher svg circle {
  fill: var(--color-white);
  transition: fill var(--transition-default);
}

.navigationSwitcher:hover svg circle {
  fill: var(--color-grey-1);
}

@media (min-width: 1600px) {
  .navigationSwitcher svg {
    width: 4rem;
    height: 0.8rem;
  }
}
