.navigationSwitcher {
  grid-area: more;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationSwitcher svg {
  display: block;
  width: 2rem;
  height: 0.4rem;
  opacity: 1;
  transition: opacity var(--transition-default);
}

.navigationSwitcher:hover svg {
  opacity: 0.5;
}

.navigationSwitcher svg circle {
  fill: var(--color-white);
}

@media (min-width: 1600px) {
  .navigationSwitcher svg {
    width: 4rem;
    height: 0.8rem;
  }
}
