.navbar {
  display: block;
  width: 100%;
  height: var(--size-navbar-height);
  background: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--index-navbar);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--size-container-max-width);
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .navbar {
    transform: translateY(calc(var(--size-navbar-height) * -1));
    transition: transform var(--transition-default);
  }

  .navbar.active {
    transform: translateY(0);
  }

  .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
  }
}
