.navbar {
  display: block;
  width: 100%;
  height: var(--size-navbar-height);
  background: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--index-navbar);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--size-container-max-width);
  height: 100%;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
}

.navbar li {
  display: flex;
}

.navbar a,
.navbar button {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-white);
  color: var(--color-black);
  transition: color var(--transition-default),
    background-color var(--transition-default);
}

.navbar button {
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}

.navbar a:hover,
.navbar button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .navbar {
    transform: translateY(calc(var(--size-navbar-height) * -1));
    transition: transform var(--transition-default);
  }

  .navbar.active {
    transform: translateY(0);
  }

  .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
  }
}
