.listOfLinks {
  display: flex;
  padding: 0.5rem 0;
}

.listOfLinks li {
  display: flex;
}

.listOfLinks a {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-white);
  color: var(--color-black);
  transition: color var(--transition-default),
    background-color var(--transition-default);
}

.listOfLinks a:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
