.aside {
  grid-area: aside;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.aside a,
.aside span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-white);
  transition: background-color var(--transition-default);
  position: relative;
}

.aside svg {
  width: 2.6rem;
  transition: fill var(--transition-default),
    transform var(--transition-default);
}

.aside a svg {
  fill: var(--color-success);
}

.aside span svg {
  fill: var(--color-grey-2);
}

.aside a:hover {
  background-color: var(--color-warning);
}

.aside a:hover svg {
  fill: var(--color-white);
  transform: scale(2.5);
}

@media (min-width: 768px) {
  .aside {
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .aside {
    justify-content: center;
  }
}
